/* 登录注册菜单 */
.menu{
    min-height: 111vh;
    background: #FFBF2D;
    margin: 0;
}
.menu_inner{
    width: 90vw;
    height: 45vh;
    margin: 0 auto;
}
.inner_header{
    margin-top: 5vh;
    font-size: 6vw;
    text-align: center;
}
.inner_header a{
    background: #fff;
    letter-spacing: 3vw;
    font-size: 6vw;
    border:0.3vw solid #FFBF2D;
}
.aa{
    color: #737068;
}
.a1{
    border-radius: 20px 30px 0 0 ;
    padding: 5% 14% 5% 15.3%;
}
.a2{
    border-radius: 30px 20px 0 0 ;
    padding: 5% 15.3% 5% 14%;
}
.menus_active {
    color: #FFBF2D;
}
.inner_content{
    width: 100%;
    margin-top: 3vh;
    background: #fff;
    padding: 4vh 0;
    border-radius: 0 0 10px 10px;
}
.menu footer{
    margin: 10vh auto;
    text-align: center;
    width: 80%;
    padding: 3vh 5vw;
}
.menu_footer{
    position:relative;
    height:1.875rem;
    line-height: 1.875rem;
    margin:3vh auto;
    justify-content:space-between;
}
.menu_footer i{
    display:block;
    height:2px;
    background:#fff;
    position:absolute;
    top:0.9rem;
    width:100%;
}
.menu_footer p{
    letter-spacing: 1vw;
    background: #FFBF2D;
    display:inline-block;
    padding: 0 3vw;
    font-size: 5vw;
    color:#fff;
    text-align: center;
    margin:0 auto;
    position:relative;
    z-index:2;
}
.menu footer a{
    margin: 0 8vw;
}
.menu footer a i{
    color: #fff;
    font-size: 12vw;
}

/* 登录小块 */
.login{
    text-align: center;
}
.login p{
    padding-left: 4vw;
    text-align: left;
    margin: 0 auto;
    width: 90%;
    height: 10vh;
    border-bottom: 1px solid #FFBF2D;
}

.login p i{
    color: #FFBF2D;
    font-size: 5vh;
    margin-right: 8vw;
}
.login input{
    font-size: 3vh;
    width: 70%;
    border:none;
    height:9.6vh;
}
.login input::placeholder{
    letter-spacing: 0.5vw;
    color: #FFBF2D;
    font-size: 5vw;
}
.but{
    margin-top :5vh; 
    width: 34vw;
    height: 7vh;
    border:none;
    background: #FFBF2D;
    color: #fff;
    font-size: 3vh;
    border-radius: 10px;
    text-align: inherit;
    letter-spacing: 1vw;
}

/* 注册小块 */
.resign{
    text-align: center;
}
.resign li{
    color: #FFBF2D;
    line-height: 3.5vh;
    list-style: square;
}
.resign p{
    padding-left: 4vw;
    text-align: left;
    margin: 0 auto;
    width: 90%;
    height: 7vh;
    border-bottom: 1px solid #FFBF2D;
}
.resign p i{
    color: #FFBF2D;
    font-size: 4.5vh;
    margin-right: 8vw;
}
.resign input{
    font-size: 3vh;
    width: 70%;
    border:none;
    height:4vh;
}
.resign input::placeholder{
    letter-spacing: 0.5vw;
    color: #FFBF2D;
    font-size: 5vw;
    color:'red'
}
#warn{
    display: none;
    border-radius: 20px;
    background:rgba(255,191,45,0.4);
    position: fixed;
    top:28vh;
    width: 90%;
    height: 35vh;
    z-index: 100;
    margin: 0;
}
#warn div{
    text-align: center;
    padding:4vh 5vw;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    font-size: 6.5vw;
    width: 70%;
    height: 30%;
    color: rgb(148, 145, 145);
}
#lwarn{
    display: none;
    border-radius: 20px;
    background:rgba(255,191,45,0.4);
    position: fixed;
    top:28vh;
    width: 90%;
    height: 35vh;
    z-index: 100;
    margin: 0;
}
#lwarn div{
    text-align: center;
    padding:4vh 5vw;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    font-size: 6.5vw;
    width: 70%;
    height: 30%;
    color: rgb(148, 145, 145);
}
.get{
    font-size: 5vw;
    background: #FFBF2D;
    color: #fff;
    height: 6vh;
    border:none;
    padding: 1vh 2vw;
}

/* 注册详情（该页取消） */
.message{
    min-height: 111vh;
    background: linear-gradient(rgb(255,191,45,0.2), rgb(255, 191, 45,0.6),rgb(255, 191, 45,1));
    /* background: #FFBF2D; */
    margin: 0;
    background-size: cover cover;
}
.message_detail{
    border-radius: 20px;
    padding:2vh 0;
    font-size: 5vw;
    margin: 0 auto;
    background: #fff;
    width: 90%;
    text-align: center;
}
.message_details {
    width: 100%;
    height: 5.5vh;
    border:none;
    font-size: 5.5vw;
    border-bottom:1px solid #FFBF2D;
}
.message_details i{
    color:#FFBF2D;
    font-size: 8vw;
    margin-right: 6vw;
    margin-left: 2.5vw;
}
.message_details input{
   border:none;
}
.message_box{
    text-align: left;
    padding-left: 6.3vw;
}
.message_box input{
    width: 8vw;
    height: 3vh;
    color: #FFBF2D;
    margin-right: 0.5vw;
}
#man{
    z-index: 100;
    margin-left: 8vw;
}
.img i{
    color:#FFBF2D;
    font-size: 8vw;
    margin-right: 6vw;
}
.img span{
    position: relative;
    color: #737068;

    /* position: absolute; */
}
#img{
    /* display: none; */
    position: relative;
    opacity: 0;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0.9vh;
    background: #FFBF2D;
    width: 100%;
}

.message_but{
    width: 30vw;
    height: 8vh;
    border: 1px solid #FFBF2D;
    background: #FFBF2D;
    color: #fff;
    font-size: 6.5vw;
    letter-spacing: 1.5vw;
    border-radius: 10px;
    margin: 0 2vw;

}
.message_but a{
    color: #fff;
}