.start{
    min-height: 100vh;
    /* background:url('https://tse1-mm.cn.bing.net/th/id/OIP.wp8AkjYLRC2ikLbDYcYumQHaFj?w=245&h=179&c=7&o=5&dpr=1.25&pid=1.7') no-repeat top center; */
    /* background:url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1575268668&di=a3ffd52dc076de77b744073315ce3cd1&imgtype=jpg&er=1&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201705%2F22%2F20170522005903_5tkna.jpeg'); */
    /* background:url('http://img5.imgtn.bdimg.com/it/u=2336728940,2356883713&fm=26&gp=0.jpg') no-repeat top center; */
    /* background:url('https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=569797410,786276518&fm=15&gp=0.jpg') no-repeat top center; */
    /* background:url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1575274459&di=2267fd9a58e23dd9c3e0e619d8874dda&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.taopic.com%2Fuploads%2Fallimg%2F110114%2F53-11011423393156.jpg') no-repeat top center; */
    /* background:url('https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1818873931,3495107550&fm=26&gp=0.jpg') no-repeat top center; */
    background-size: cover cover;
}
.start_first{
    padding-top: 2%;
    padding-bottom: 2%;
    width:100%;
    background-color:rgba(233, 233, 255, 0.6);
    border-radius: 10px;
}
.start_first p{
    padding-right: 4%;
    text-align: right;
    font-size: 5.3vw;
    font-weight: bold;
}
.start_button{
    text-align: center;
    border: none;
    width: 30vw;
    height: 10vh;
    line-height: 10vh;
    border-radius: 10px;
    background-color:rgba(233, 233, 255, 0.8);
    font-size: 6vw;
    position: fixed;
    bottom: 15vh;
    right: 2vw;
}

