
.index_footer{
    /* background: #ccc; */
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 8vh;
    text-align: left;
    z-index: 101;
    
}
.index_footer a{
    font-size: 4vw;
    text-align: center;
    width: 25%;
    float: left;
    color: #737068;
}
.index_tab{
    padding-top: 2.5vw;
}
.index_tab i{
    margin: 0;
    font-size: 6vw;
    pointer-events: none;

}
.index_tab p{
    margin: 0;
    pointer-events: none;

}
.index_footer a:active{
    color: #FFBF2D;
}
.active{
    color: #FFBF2D;
}

